.home-page {
  padding: 2rem;
}

.overview-details {
  background-color: #e8f7fc;
  padding: 1rem;
  /* margin-bottom: 2rem; */
  margin:-32px -32px 2rem -32px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.agency-branding{
  background-color:#f1f1f1;
  padding:30px;
  height:100px;
  margin-top:70px;
  margin-right:400px;
  border-radius: 20px;
}

.plant-agency{
  background-color:#f1f1f1;
  padding:50px;
  border-radius: 20px;
}


.overview-details ul {
  list-style: none;
  padding: 0;
}

.statuses {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.status-button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.agency-cards {
  display: flex;
  gap: 1rem;
  justify-content: center;
  
}

.card {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  min-width: 200px;
}

@media only screen and (max-width: 768px) {
 
  }