/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Header */
.inventory-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: #070707;
}

.inventory-header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #ffffff;
}

/* Main Content Layout */
.inventory-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.inventory-layout {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Product List Section */
.product-list-container {
  width: 200px;
  background-color: #b8e0e6;
  padding: 1rem;
  border-radius: 8px;
}

.product-header {
  font-size: 1.2rem;
  color: #4c4c4c;
  margin-bottom: 0.9rem;
  text-align: center;
}

.product-item {
  background-color: #c0c3c3;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table Section */
.table-section {
  flex: 1;
  background-color: white;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.inventory-table th {
  background-color: #79d1d4;
  color: white;
  padding: 1rem;
}

.inventory-table td {
  text-align: center;
  padding: 0.8rem;
  border: 1px solid #ddd;
}

.inventory-table small {
  font-size: 0.75rem;
  color: #555;
}

/* Action Button */
.container-button{
  align-self: center;
}
.query-button {
  margin: 1rem 0;
  padding: 2rem 2rem;
  width: 100%;
  background-color: #d3dede;
  color: #000000;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.query-button:hover {
  background-color: #b8c8c8;
}

/* Document Section */
.document-section {
  text-align: center;
}

.document-section h2 {
  background-color: #79d1d4;
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
}


.document-cards {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.document-cards :hover {
  background-color: #b8c8c8;
}

.doc-card {
  flex: 1;
  max-width: 200px;
  background-color: #d3dede;
  padding: 7rem;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
.app-footer {
  width: 100%;
  background-color: #4c4c4c;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}
