.banner-container {
  height: 370px;
  padding: 15px 5px 15px 10px  ;
}

/* Tablets */
@media (max-width: 1080px) {
  .banner-container {
    height: 320px;
  }
}

/* Mobile */
@media (max-width: 760px) {
  .banner-container {
    height: 260px;
  }
}


