.TargetConsolidatedChartBox{
  border: 1px solid #000;
  height: 100%;
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex: 1;
    padding: 5px; */
    border-radius: 5px;
}

.TargetConsolidatedChartBox .CharttitleBox{
  
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  overflow: hidden;
  text-align: center;
  background-color: #ffffff;
  /* padding: 4px 7px; */
  /* margin: 7px 3px; */
  border-radius:5px;
  
  box-shadow: 2px 2px 6px 2px #eba0a0;
  
  padding: 10px;
  font-weight: 600;
}

.TargetConsolidatedChartBox .CharttitleBox select{
  padding: 5px;
  font-weight: bold;
}
.TargetConsolidatedChartBox .CharttitleBox select option{
  padding: 5px;
  border-radius: 2px!important;
  font-weight: bold;
}




.TargetConsolidatedChartBox .main{
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  /* padding: 10px; */
}

.plantOperatorsList{
    width: 250px;
}
.plantOperatorsList h4{
    text-align: center;
}

.plantOperatorsList ul{
    list-style-type: none;
    padding: 0;
    margin: 0 5px;
}

.plantOperatorsList ul li{
    padding: 10px;
    border-bottom: 1px solid #9a9797;
}

.ConsolidatedChartBox{
    flex: 1;
    /* max-height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* border: 1px solid #9a9797; */
    border-radius: 10px;
}

.ConsolidatedChartBox {
    /* width: 100%; */
    /* max-height: 100%; */
    /* height: 300px;  */
    /* min-width: 300px; Prevent it from collapsing */
  }
  .chartBox {
    width: 100%;
    height: 100%;

    padding: 10px;
  }
  

  /* .barChart{
    position: relative;
    top: -100%;
  } */
  .lineChart{
    width: 5%;
  }

  .responsiveContainer{
    width: 100%;
    height: 100%;
  }