
.BannerBox {
    width: 100%;
    height: 420px;
    overflow: auto;
    background-color: #09446cec!important;
    box-shadow: 2px 2px 6px 2px #d0a1fa;
    border: 2px solid rgb(236, 229, 254);
    /* padding: 0.3rem; */
    border-radius: 15px;
    display: flex;
    flex-direction: column!important;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 8px;
}

.BannerBox::-webkit-scrollbar {
    display: none;
}


/* Slide content */
.slide-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    /* width: 100%;
    height: 100%; */
    background-color: #fff;
}


.slide-content .imgDetails{
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;

}