.units {
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
}
.units.selected {
  background-color: #30BD52 !important;
  color: white;
  font-weight: bold;
}

/* Default for very small screens */
.agency-head {
  font-size: 10px;
  font-weight: 600;
}

/* 760px and above */
@media (min-width: 760px) {
  .agency-head {
    font-size: 10px;
  }
}

/* 1080px and above */
@media (min-width: 1080px) {
  .agency-head {
    font-size: 12px;
  }
}

/* Above 1080p (large desktop) */
@media (min-width: 1440px) {
  .agency-head {
    font-size: 14px;
  }
}
