body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Header */
.app-header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c4c4c;
  padding: 1rem;
  z-index: 999;
}

.branding {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a4d6a3;
} 

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #343a40;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #28a745;
}

.app-header .hamburger{
  font-size: 28px;
  display: none;
}

main{
  min-height: calc(100vh - (50px + 2rem));
}

/* Footer */
.app-footer {
  background-color: #4c4c4c;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
}

/* Responsive Styles */

 @media (max-width: 785px) {

  .app-header .hamburger{
    display: flex;
  }

  .app-header nav{
    display: none;
  }

} 