body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Header */
.app-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4fc;
  padding: 1rem;
  z-index: 999;
}

.branding {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a4d6a3;
} 

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  text-transform:uppercase;
  color: #662D91;
  font-size:medium;
  position: relative;
  margin-right: 10px;
  padding:10px;
 
}

nav ul li a:hover,
nav ul li a:focus{
  background-color: #662D91;
  padding:10px;
  border-radius: 5px;
  color:white;
}


.app-header .hamburger{
  font-size: 28px;
  display: none;
}

main{
  min-height: calc(100vh - (50px + 2rem));
}

/* Footer */
.app-footer {
  /* background: linear-gradient(179.95deg, #c78ef3 0.05%, #fc94ba 79.07%, #f89b94 99.96%); */
  background: linear-gradient(to right, #662D91 0.05%, #AC466C 79.07%, #E1594F 99.96%);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1.5rem 0;
}

/* Responsive Styles */

 @media (max-width: 785px) {

  .app-header .hamburger{
    display: flex;
  }

  .app-header nav{
    display: none;
  }

} 